Repository Strappazzon/td2-map-brooklyn, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, config, dependencies, documentation

Add Craver Hunter canisters
  assets/img/screenshots/hunter-craver_clue-1.jpg
  assets/img/screenshots/hunter-craver_clue-2.jpg
  assets/img/screenshots/hunter-craver_clue-3.jpg
  assets/img/screenshots/hunter-craver_clue-4.jpg
  assets/js/leaflet.js
Labels: none

Update external map buttons text
  index.html
Labels: none

config(vscode): Nest markdownlint config files
  .vscode/settings.json
Labels: config

deps: Update Ruby dependencies
  .tool-versions
  Gemfile.lock
Labels: dependencies

config(jekyll): No need to exclude Gemfile
  .jekyll.yml
Labels: config

Fix typo
  assets/js/leaflet.js
Labels: none

Add Underground Entrance markers
  assets/img/markers/ug.png
  assets/img/screenshots/ug-entrance-22.jpg
  assets/js/leaflet.js
  index.html
Labels: none

Add a Loot Goblin location
  assets/img/markers/goblin.png
  assets/js/leaflet.js
  index.html
Labels: none

cicd: Update dependencies
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
Labels: cicd

Fix OG URL
  index.html
Labels: none

Self-Hosted
  .github/README.md
  .github/workflows/build-prod.yml
  .github/workflows/deploy-redir.yml
  .jekyll.yml
  index.html
Labels: cicd, config, documentation

Add link to locations
  assets/js/leaflet.js
Labels: none

Update "The Bridge" settlement icon
  .github/README.md
  assets/img/markers/bridge.png
Labels: documentation

Refactor popup building
  assets/js/leaflet.js
  assets/sass/_leaflet.scss
Labels: none

Add note taking feature
  assets/js/db.js
  assets/js/leaflet.js
  assets/sass/_leaflet.scss
  index.html
Labels: none

deps(ruby): Update dependencies
  .tool-versions
  Gemfile
  Gemfile.lock
  assets/css/index.scss
  assets/css/leaflet.scss
  assets/css/lightbox.scss
Labels: dependencies

deps(cicd): Update dependencies
  .github/workflows/build-pr.yml
Labels: cicd

Use template strings
  assets/js/leaflet.js
Labels: none

Reposition map when toggling notes
  assets/js/leaflet.js
Labels: none

.github/labeler.yml:

cicd:
  - ".github/workflows/**"

config:
  - ".github/*.yml"
  - ".vscode/**"
  - ".jekyll.yml"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "**/.markdownlint*"

dependencies:
  - ".tool-versions"
  - "Gemfile"
  - "Gemfile.lock"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"
