Repository Strappazzon/td2-map-brooklyn, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, config, dependencies, documentation

.github/labeler.yml:

cicd:
  - ".github/workflows/**"

config:
  - ".github/*.yml"
  - ".vscode/**"
  - ".jekyll.yml"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "**/.markdownlint*"

dependencies:
  - ".tool-versions"
  - "Gemfile"
  - "Gemfile.lock"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"

cicd: Fix wrong working directory
  .github/workflows/build-prod.yml
Labels: cicd

config: Add configs
  .gitattributes
  .github/CODEOWNERS
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/general.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint-cli2.yml
  .markdownlint.yml
  .vscode/extensions.json
  .vscode/settings.json
Labels: config

Fix wrong URLs
  assets/leaflet.js
  index.html
Labels: none

Fix wrong URLs
  assets/sass/_index.scss
Labels: none

Improve sidebar responsiveness
  assets/sass/_index.scss
  index.html
Labels: none

Improve links color contrast
  assets/sass/_index.scss
Labels: none

Fix heading margins not applying
  assets/sass/_index.scss
Labels: none

Use higher resolution map image
  assets/img/map.jpg
  assets/leaflet.js
  assets/sass/_index.scss
  index.html
Labels: none

Use single quotes
  assets/leaflet.js
Labels: none

Style popups
  assets/sass/_index.scss
Labels: none

Refactoring
  assets/leaflet.js
Labels: none

Add a shadow with CSS instead of editing each SVG
  assets/img/markers/bridge.svg
  assets/img/markers/control-point.svg
  assets/img/markers/mission.svg
  assets/img/markers/named-elite.svg
  assets/img/markers/safe-house.svg
  assets/sass/_index.scss
Labels: none

Replace Named Elite marker with icon from TD1
  .github/README.md
  assets/img/markers/named-elite.png
  assets/img/markers/named-elite.svg
  assets/leaflet.js
  index.html
Labels: documentation

Limit Credits section height
  assets/sass/_index.scss
Labels: none

Refactoring
  assets/sass/_index.scss
  index.html
Labels: none

Add some Hunter locations
  assets/img/markers/hunter.png
  assets/leaflet.js
  assets/sass/_index.scss
Labels: none

Fix wrong styling
  assets/sass/_index.scss
Labels: none

Move filters to sidebar
  assets/leaflet.js
  assets/sass/_index.scss
  index.html
Labels: none

Remove `me` link relationship
  index.html
Labels: none

Use relative URLs
  .jekyll.yml
  index.html
Labels: config

Fix missing description in OG meta tags
  .jekyll.yml
  index.html
Labels: config

Fix OG URL
  index.html
Labels: none

Add comms
  assets/img/markers/comms.svg
  assets/leaflet.js
  index.html
Labels: none

Refactoring
  assets/leaflet.js
Labels: none

Remove unused classes
  assets/img/markers/comms.svg
Labels: none

Add hidden ECHO location
  assets/img/markers/echo.svg
  assets/leaflet.js
  index.html
Labels: none

Add Hide/Show all functionality to filters
  assets/leaflet.js
  assets/sass/_index.scss
  index.html
Labels: none

Changes to credits section
  assets/sass/_index.scss
  index.html
Labels: none

Move assets
  assets/css/index.scss
  assets/css/leaflet.scss
  assets/index.scss
  assets/js/leaflet.js
  assets/sass/_index.scss
  assets/sass/_leaflet.scss
  index.html
Labels: none

Cache busting
  index.html
Labels: none

Small changes to sidebar
  assets/sass/_index.scss
  index.html
Labels: none

Fix missing icon
  assets/sass/_leaflet.scss
Labels: none

Improve descriptions
  assets/js/leaflet.js
Labels: none

Add "Center map" button
  assets/js/leaflet.js
  assets/sass/_leaflet.scss
  index.html
Labels: none

Allow navigating out of bounds
  assets/js/leaflet.js
Labels: none

Display Credits link on mobile
  assets/js/leaflet.js
  assets/sass/_leaflet.scss
Labels: none

Fix typos
  assets/js/leaflet.js
Labels: none

Use Markdown in markers content
  assets/js/leaflet.js
  index.html
Labels: none

Allow adding images inside popups
  assets/css/lightbox.scss
  assets/js/leaflet.js
  assets/sass/_leaflet.scss
  assets/sass/_lightbox.scss
  index.html
Labels: none

Add more markers
  assets/img/markers/node-components.svg
  assets/img/markers/node-food.svg
  assets/img/markers/node-water.svg
  assets/js/leaflet.js
  index.html
Labels: none
